.advantages {
  min-height: 562px;
  padding: 110px var(--side-offset);
  background-color: #c7c9ca;
  background-image: image-set(
    url("../img/background/desktop/advantages.webp") 1x,
    url("../img/background/desktop/advantages@2x.webp") 2x,
    url("../img/background/desktop/advantages.jpg") 1x,
    url("../img/background/desktop/advantages@2x.jpg") 2x,
  );
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $vp-1023) {
    padding: 90px var(--side-offset) 100px;
  }

  @media (max-width: $vp-767) {
    padding: 57px var(--side-offset) 65px;
  }

  h2 {
    @include title-medium (50px, 50px, 30px);
    text-align: center;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $vp-1023) {
    column-gap: 30px;
  }

  @media (max-width: $vp-767) {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.advantages__item {
  position: relative;
  min-height: 241px;
  padding: 81px 30px 10px;
  background-color: $color-alice-blue;

  @media (max-width: $vp-1023) {
    min-height: 310px;
    padding: 70px 16px 10px 20px;
    background-size: 36px 26px;
  }

  @media (max-width: $vp-767) {
    min-height: 250px;
  }

  &::after {
    position: absolute;
    top: 30px;
    left: 30px;
    content: "";
    background-repeat: no-repeat;

    @media (max-width: $vp-1023) {
      top: 26px;
      left: 21px;
    }
  }

  &--first::after {
    width: 27px;
    height: 32px;
    background-image: url("../img/svg/advantages-1.svg");

    @media (max-width: $vp-1023) {
      background-size: 21px 26px;
    }
  }

  &--second::after {
    width: 38px;
    height: 32px;
    background-image: url("../img/svg/advantages-2.svg");

    @media (max-width: $vp-1023) {
      background-size: 27px 26px;
    }
  }

  &--third::after {
    width: 44px;
    height: 32px;
    background-image: url("../img/svg/advantages-3.svg");

    @media (max-width: $vp-1023) {
      background-size: 36px 26px;
    }
  }

  h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 140%;
    font-weight: 500;

    @media (max-width: $vp-767) {
      max-width: 180px;
    }
  }

  p {
    @include description-small (10px, 10px, 10px);
  }
}
