.btn {
  display: block;
  padding: 10px 20px;
  font-family: $ff-montserrat;
  font-size: 14px;
  line-height: 150%;
  font-weight: 600;
  text-align: center;
  color: $color-tangaroa;
  user-select: none;

  background-color: $color-alice-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  &:active {
    background-color: #bdbdbe;
  }
}
