.contacts {
  display: grid;
  grid-template-columns: 1.12fr 1fr;
  align-items: center;
  gap: 8.6%;
  padding: 120px var(--side-offset);

  @media (max-width: $vp-1023) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    padding: 100px var(--side-offset);
  }

  @media (max-width: $vp-767) {
    display: flex;
    flex-direction: column-reverse;
    padding: 59px var(--side-offset) 65px;
  }
}

.contacts__map {
  width: 100%;
  height: 306px;

  @media (max-width: $vp-1023) {
    height: 335px;
  }

  @media (max-width: $vp-767) {
    height: 316px;
  }
}

.contacts__text {
  h3 {
    margin: 0 0 32px;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;

    @media (max-width: $vp-1023) {
      margin: 0 0 26px;
    }
  }

  p {
    @include description-medium (20px, 20px, 22px);
    position: relative;
    padding-left: 28px;

    &::before {
      position: absolute;
      left: 0;
      width: 18px;
      height: 22px;
      content: "";
      background-image: url("../img/svg/contact-marker.svg");

      @media (max-width: $vp-1023) {
        top: 5px;
      }
    }
  }

  a {
    @include description-medium (3px, 2px, 6px);
    display: inline-block;
    position: relative;
    padding-left: 28px;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }

    &::before {
      position: absolute;
      left: 0;
      width: 18px;
      height: 18px;
      content: "";
      background-image: url("../img/svg/contact-phone.svg");
    }
  }
}
