.intro {
  min-height: 650px;
  margin: 0 auto;
  padding: 276px calc(var(--side-offset) + 95px) 40px calc(var(--side-offset) + 95px);
  background-color: $color-tangaroa;
  background-image: image-set(
    url("../img/background/desktop/intro.webp") 1x,
    url("../img/background/desktop/intro@2x.webp") 2x,
    url("../img/background/desktop/intro.jpg") 1x,
    url("../img/background/desktop/intro@2x.jpg") 2x,
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (max-width: $vp-1023) {
    min-height: 638px;
    padding: 275px var(--side-offset) 45px;
    background-image: image-set(
      url("../img/background/tablet/intro.webp") 1x,
      url("../img/background/tablet/intro@2x.webp") 2x,
      url("../img/background/tablet/intro.jpg") 1x,
      url("../img/background/tablet/intro@2x.jpg") 2x,
    );
    background-position: center top;
    filter: none;
  }

  @media (max-width: $vp-767) {
    min-height: 500px;
    padding: 176px var(--side-offset) 15px;
    background-image: image-set(
      url("../img/background/mobile/intro.webp") 1x,
      url("../img/background/mobile/intro@2x.webp") 2x,
      url("../img/background/mobile/intro.jpg") 1x,
      url("../img/background/mobile/intro@2x.jpg") 2x,
    );
  }

  h1 {
    @include title-large (22px, 20px, 11px);
  }

  p {
    margin: 0;
    font-size: 20px;
    color: $color-alice-blue;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

    @media (max-width: $vp-1023) {
      font-size: 18px;
    }

    @media (max-width: $vp-767) {
      max-width: 200px;
      font-size: 16px;
      line-height: 140%;
    }
  }
}
