.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 28px 25px 35px;
  overflow: hidden;
  aspect-ratio: 260 / 386;

  @media (max-width: $vp-1023) {
    padding: 27px 35px 35px;
    aspect-ratio: 309 / 386;
  }

  @media (max-width: $vp-767) {
    padding: 30px 25px 35px;
    aspect-ratio: 270 / 386;
  }

  &:hover,
  &:focus-within {
    background-color: $color-tangaroa;
    box-shadow: 0 4px 35px rgba(1 28 64 / 15%);
  }

  h3 {
    margin: 0 0 0 5px;
    margin-top: auto;
    font-size: 18px;
    line-height: 150%;
    font-weight: 500;
    color: $color-alice-blue;
    transform: translateY(53px);
    transition: all 0.2s ease;

    @media (max-width: $vp-1023) {
      margin: 0;
      margin-top: auto;
      transform: translateY(47px);
    }

    @media (max-width: $vp-767) {
      transform: translateY(59px);
    }
  }
}

.product-card:hover h3,
.product-card:focus-within h3 {
  margin: 0;
  transform: none;
  transition: all 0.1s linear;
}

.product-card:hover .product-card__holder,
.product-card:focus-within .product-card__holder {
  display: block;
  animation: appearLeft 0.1s linear;
}

.product-card:hover .product-card__button,
.product-card:focus-within .product-card__button {
  margin-top: auto;
  transform: none;
  transition: all 0.1s linear;
}

.product-card__img {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #344966;
  object-fit: cover;
}

.product-card__holder {
  display: none;
  padding: 14px 0 0;
  overflow: auto;

  dl {
    margin: 0;
  }

  dt {
    margin-bottom: 1px;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    color: $color-alice-blue;
  }

  dd {
    margin: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 140%;
    color: $color-alice-blue;
  }
}

.product-card__button {
  transform: translateY(100px);
}

@keyframes appearLeft {
  from {
    transform: translateY(100px);
  }

  to {
    transform: none;
  }
}
