@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Title

@mixin title-large ($desktop, $tablet, $mobile) {
  margin: 0;
  margin-bottom: $desktop;
  font-size: 54px;
  line-height: 100%;
  font-weight: 700;
  color: $color-alice-blue;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @media (max-width: $vp-1023) {
    margin-bottom: $tablet;
    font-size: 50px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: $mobile;
    font-size: 36px;
    line-height: 125%;
  }
}

@mixin title-large-dark ($desktop, $tablet, $mobile) {
  margin: 0;
  margin-bottom: $desktop;
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
  color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    margin-bottom: $tablet;
    font-size: 34px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: $mobile;
    font-size: 24px;
    line-height: 130%;
  }
}

@mixin title-medium ($desktop, $tablet, $mobile) {
  margin: 0;
  margin-bottom: $desktop;
  font-size: 28px;
  line-height: 150%;
  font-weight: 600;
  color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    margin-bottom: $tablet;
    font-size: 26px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: $mobile;
    font-size: 24px;
  }
}

// Description

@mixin description-large ($desktop, $tablet, $mobile) {
  margin: 0;
  margin-bottom: $desktop;
  font-size: 18px;
  line-height: 150%;
  font-weight: 400;
  color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    margin-bottom: $tablet;
  }

  @media (max-width: $vp-767) {
    margin-bottom: $mobile;
    font-size: 16px;
    line-height: 140%;
  }
}

@mixin description-medium ($desktop, $tablet, $mobile) {
  margin: 0;
  margin-bottom: $desktop;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    margin-bottom: $tablet;
  }

  @media (max-width: $vp-767) {
    margin-bottom: $mobile;
  }
}

@mixin description-small ($desktop, $tablet, $mobile) {
  margin: 0;
  margin-bottom: $desktop;
  font-size: 14px;
  line-height: 140%;
  font-weight: 400;
  color: $color-tangaroa;

  @media (max-width: $vp-1023) {
    margin-bottom: $tablet;
  }

  @media (max-width: $vp-767) {
    margin-bottom: $mobile;
  }
}
