// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;

// Project palette

$color-alice-blue:                   #f9fbfd;
$color-tangaroa:                     #011c40;

// Typography

$fz-default:                        16px;

$ff-montserrat:                     "Montserrat", "Arial", sans-serif;

// Animation

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600:                         0.6s $tf-default;

// Viewports

$vp-767:                            767px;
$vp-1023:                           1023px;
$vp-1249:                           1249px;
